#root {
    font-family: 'Ubuntu', sans-serif;
    scroll-snap-type: y mandatory;
}

.snap-anchor {
    scroll-snap-align: center;
}

.hero {
    text-align: center;
    padding: 35vh 0;
    background: #6060bd;
    color: white;
    z-index: 0;
}

.parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax__layer--base {
    transform: translateZ(0);
}

.parallax__layer--back {
    transform: translateZ(-1px) scale(2);
}

.row {
    margin-top: 2em;
}

.card {
    border-radius: 1rem;
    margin-top: 2vh;
    padding: 0.5rem;
    background-color: #6060bd;
}

.card-body {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 1em;
    width: 100%;
    padding: 1rem;
    justify-content: center;
}

.container {
    min-width: 60%;
    height: inherit;
    padding: 10% 0 10% 0;
}

.card-title {
    margin-top: 0;
    border-radius: 1em;
    padding: 0.5rem;
    background-color: #6060bd;
    color: white;
    text-align: center;
}

/* .status {
    margin:1%;
    min-width:100%;
    height: 10em;
    border-radius: 1em 1em 0 0;
} */

.btn-group {
    align-self: center;
    min-width: 80%;
}

.btn-primary {
    background-color: #6060bd;
    border-color: #6060bd;
}

.btn-primary:hover {
    background-color: #5656bd;
}

.bg {
    width: 100%;
    height: fit-content;
    background-color: rgba(225, 216, 167);
    z-index: 10;
    position: relative;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 117px;
}

.wave .shape-fill {
    fill: #6060bd;
}

#plus_button {
    border: solid 0.25rem #6060bd;
    border-radius: 10%;
    font-size: 3rem;
    color: #6060bd;
    position: fixed;
    bottom: 5vh;
    right: 5vh;
    padding-left: 1%;
    padding-right: 1%;
    background-color: transparent;
}

#plus_button:hover {
    background-color: rgba(0, 0, 0, 0.3);
}